*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(green  ,skyblue 30% ,yellowgreen);
    
}
.Suevey{
    text-align: center;
    padding: 10px;
}
.header{
 font-family: Arial, Helvetica, sans-serif;
 max-width: 800px;
 margin: auto;
 font-size: 20px;
 margin-top: 20px;

}

.form_section{
    /* border: 2px solid black; */
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(1,1,1, 0.8);
}
.form_1{
    color: blue;
    text-align: center;
}
.contenr_cntrol{
    display: flex;
    flex-direction: column;
}
.contenr_cntrol input{
    padding: 16px;
    border:none;
    border-radius: 8px;
}
.contenr_cntrol label{
    padding: 10px 0px;
    font-weight: bold;
    color: blue;

}
.contenr_cntrol .age_1{
width: 100px;
padding: 10px;
}
.form_2{
    padding: 10px 0px;
    color: blue;
}
.cauraty #cauraty{
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}
.form_3{
    padding: 10px 0px;
    color: blue;
}

.btm label{
    font-weight: bold;
    color: black;
}
.btm h3{
    padding: 10px 0px;
    color: blue;
}
.btm select{
 padding: 10px;
 border-radius: 8px;
 font-weight: bold;

}
.projects .form_5{
color: blue;
padding: 10px 0px;
}
.projects label{
    padding: 10px 0px;
    font-weight: bold;
}